#register-img{
    width: 100%;
    height: 100vh;
    background: url('../img/cadastro_background.png') center no-repeat;
    background-size: cover;

}

.container-register{
    display: flex;
}



.container-signin{
    position: absolute;
    top: 30%;
    font-size: 25px;
    background-color: rgba(66, 66, 66, 0.527);
    margin-left: 20%;
    padding: 20px;
    text-align: center;

}

h2{
    color: white;
    
}

.signin-form{
  
    
}

    
#form-input{
    display: grid;
    width: 300px;
    height: 30px;
    background-color: #d9d9d9;
    border-radius: 10px;
    border:solid 1px #d9d9d9;
    margin-top: 10px;
    text-transform: uppercase;
    
    
}

.signin-button{
    width: 120px;
    height: 30px;
    background-color: #0038FF;
    border-radius: 10px;
    border:0;
    margin-top: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 2rem;
}


.container-login{
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 25px;
    background-color: rgba(66, 66, 66, 0.527);
    margin-left: 20%;
    padding: 20px;
    text-align: center;
}

h3{
    color: white;
}

#login-img{
    width: 40%;
    margin-top: 20px;

}

.login-form{
    display: inline-block;

}

#login-input{
    display: grid;
    width: 300px;
    height: 30px;
    background-color: #d9d9d9;
    border-radius: 10px;
    border:solid 1px #d9d9d9;
    margin-top: 10px;
    text-transform: uppercase;
}

.login-button{
    width: 120px;
    height: 30px;
    background-color: #0038FF;
    border-radius: 10px;
    border:0;
    margin-top: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 2rem;
}



























/*
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #42855B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}


.w50{
    width: 50%;
    float: left;
    padding-right: 15px;
}

.box{
    display: flex;
    width: 930px;
}
.img-box{
    background-color: grey;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}

.img-box img{
    width: 100%;
}

.form-box{
    background-color: grey;
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 50%;
    border-radius: 0 20px 20px 0;
}

.form-box h2{
    font-size: 30px;
}

.form-box p{
    font-weight: bold;
    color: black;
}

.form-box p a{
    color: #42855B;
    text-decoration: none;
    font-weight: bold;
}

.form-box form{
    margin: 20px 0;
}

form .input-group{
    margin-bottom: 15px;
}

form .input-group label{
    color: black;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;

}

form .input-group input{
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0,4s ease;

}

form .input-group input:focus{
    border-color: #42855B;
}

form .input-group button{
    width: 100%;
    height: 47px;
    background: #42855B;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
*/