.sobrenos{
    background-color: black;
    position: relative;
}

.sobrenos-img{
    width: 100%;
    vertical-align: middle;
    height: 100vh;
    background: url("../img/background_games.png") center no-repeat;
  background-size: cover;

    
    
}

h4{
    color:rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.sobrenos-text{
    position: absolute;
    top: 20%;
    width: 100%;
    height: 100%;
    color:rgb(3, 3, 3);
    text-align: center;
    font-size: 25px;
    }

