@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

#menu{
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    text-align: center;
}
.container-header{
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#logo-img{
    width: 200px;
}

#pesquisa{
    width: 200px;
    background-color: #0096408F;
    height: 30px;
    border: solid 1px #0096408F;
    border-radius: 13px;
    text-align: center;
    background-image: url(../img/input_search.png);
    background-repeat: no-repeat;

}

.icons{
    display:flex;
    margin-right: 50px;
}

#user-icon{
    width: 20px;
    height: 20px;
}

#cart-icon{
    width: 20px;
    height: 20px;
}
.nav-bar{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}

.nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav{
    display: inline-block;
    text-transform: uppercase;
    padding: 0px 10px;
}

.nav-options{
    text-decoration: none;
    color: white;
}

.nav-options:hover{
    transition: 0.3s;
    font-size: medium;
    font-weight: bold;
}

#footer-container{
    
    
}

.nav-footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 0px 100px;
}

.footer-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 16px;
    color: #fedb39;
    padding: 0px 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    
}

.foot{
    padding: 0px 20px;
    margin-bottom: 5px;
}

.foot-options{
    text-decoration: none;
    color:white;
}

.foot-options:hover{
    transition: 0.3s;
    font-size: medium;
    font-weight: bold;
}

.footer-img{
    background-color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo-footer{
    width: 200px;
}
/*
.container-header1{
    display: flex;
    justify-content: space-between;
}
#logo-img{
    width: 130px;
}
.icons{
    margin-right: 50px;
}
header a{
    margin-right: 30px;
    text-decoration: none;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header li{
    color: white;
    list-style: none;
    font-style: normal;
    text-align: center;
}
header input{
    background-color: #0096408F;
    height: 25px;
    border: solid 1px #0096408F;
    border-radius: 13px;
    color: #413F42;
}
.user-icon{
    color: black;
}
.cart-icon{
    color: black;
}
.user-icon:hover{
    color: #0096408F;
}
.cart-icon:hover{
    color: #0096408F;
}

.nav-bar{
    background-color: black;
    text-align: center;
    padding: 15px;
}