@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.container-register{
    display: flex;
}

.fundo{
    background-image: linear-gradient(to right top, #0a1a0b, #0b240d, #082f0c, #043a09, #004504);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-signin{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:#c2cbc14b;
    width: 355px;
    height: 320px;
    padding: 35px;
    border-radius: 8%;
}

h2{
    color: rgb(16, 43, 7);
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    
}

.signin-form{
  
    
}

    
#form-input{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
    color:#465cb4;
    border: none;
    width: 300px;
    height: 45px;
    outline: none;
    border-radius: 10px;
    padding-left: 10px;
    
}

.signin-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    background-color: #073d1f;
    border-radius: 10px;
    border:solid 1px #000000;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}





























/*
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #42855B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}


.w50{
    width: 50%;
    float: left;
    padding-right: 15px;
}

.box{
    display: flex;
    width: 930px;
}
.img-box{
    background-color: grey;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}

.img-box img{
    width: 100%;
}

.form-box{
    background-color: grey;
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 50%;
    border-radius: 0 20px 20px 0;
}

.form-box h2{
    font-size: 30px;
}

.form-box p{
    font-weight: bold;
    color: black;
}

.form-box p a{
    color: #42855B;
    text-decoration: none;
    font-weight: bold;
}

.form-box form{
    margin: 20px 0;
}

form .input-group{
    margin-bottom: 15px;
}

form .input-group label{
    color: black;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;

}

form .input-group input{
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0,4s ease;

}

form .input-group input:focus{
    border-color: #42855B;
}

form .input-group button{
    width: 100%;
    height: 47px;
    background: #42855B;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
*/