body{
    background-image: url(../img/background_games.png);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    
}

.carrinho{
    font-weight: 800;
    font-size: 50px;
    bottom: -89px;
    position: relative;
    color: white;
    text-align: center;
}

.lista{
    position: relative;
    top: 35px;
    font-size: 33px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 20%;
    padding: 17px;
    text-align: center;
    height: 432px;
    width: 244px;
    left: 680px;
  }

.produto{
    font-size: 13px;
    position: relative;
    right: 38px;
    top: 35px
}

.valor{
    font-size: 13px;
    position: relative;
    left: 66px;
    top: 20px;
}

.total{
    font-size: 17px;
    position: relative;
    left: 25px;
    top: 318px;
  }
  
.valor-total {
    font-size: 17px;
    position: relative;
    left: 99px;
    top: 297px;
  }

.confirma{
    position: relative;
    top: -2px;
    font-size: 12px;
    left: 1102px;
    color: orange;
  }
    

