@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.fundo{
    background-image: linear-gradient(to right top, #0a1a0b, #0b240d, #082f0c, #043a09, #004504);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    position: relative;
    bottom: 57px;
    left: 114px;
}

.mensagem{
    color: #c8c80c;
    font-size: 35px
}