@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  
  }
h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  color: rgb(4, 50, 31);
}

body{
  background-color: #0045035c;
 
}

a{
    text-decoration: none;
    color: yellow;
}

  .container{
    margin-top: 50px;
    margin-left: 420px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color:#c2cbc18b;
    padding: 2px 0;
    border-radius: 7px;
    box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0)
  }
  
  .container table{
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin-left: 120px;
    padding: 10px;
  }
  
  .container table tr th{
    height: 56px;
    font-size: 16px;
    font-weight: 700;
   letter-spacing: .25px;
   text-align: left;
   padding: 0 10px;
  
  }
  
  .container table tr.item td {
    border-bottom: 1px solid #c8cacc;
  padding: 0 10px;
  }
  
  table {
    margin-right: 120px;
    border-collapse: separate;
    border-spacing: 5px 10px;
  }
  
  th, td{
    text-align: justify;
    margin-right: 60px;
    padding: 10px;
    text-align: center;
    vertical-align:middle;
  }

 #btn-back{
    background-color: #0b2e0d;
    color: white;
    font-weight:bold;
    font-size: 14px;
    border: #0a1a0b 1px solid;
    cursor: pointer;
    height: 35px;
    width: 80px;
    padding: 8px;
    border-radius: 12px;
    margin-bottom: 12px;
  
 }