.sobrenos{
    background-color: black;
    position: relative;
    
    text-align: center;
}
 p{
    margin: 20px;
 }
.sobrenos-img{
    width: 100%;
    vertical-align: middle;
    height: 800px;
    
    
}

h4{
    color:white;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.sobrenos-text{
    position: absolute;
    top: 20%;
    width: 100%;
    height: 100%;
    color:white;
    text-align: center;
    font-size: 25px;
    }

.banner-picture{
    
    width: 100%;
    box-shadow: 10px 6px 20px 0 #111;
    margin-top: 90px;
}
