<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cadastro.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>KickAss</title>
</head>

<body>
    <%- include('partials/header') %>
        <main>
            <div class="fundo">
            <div class="container-register">
                <div class="container-signin">
                    
                    <h2>Ainda não é cadastrado? </h2>
                    <form class="signin-form" action="/Register" method="POST">

                        <input type="text" id="form-input" placeholder="Nome:" name="name" required>
                        <input type="email" id="form-input" placeholder="E-mail:" name="email"    required>
                        <input type="text" id="form-input" placeholder="CPF:" name="cpf" required>
                        <input type="password" id="form-input" placeholder="Senha:" name="password"     required>
                        <button class="signin-button" Type="submit">Cadastrar</button>
                    </form>
                </div>
               
            </div>
        </main>
        
        <%- include('partials/footer') %>
    </body>
    
  
    </html>