<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/carrinho.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>KickAss</title>
</head>

<body>
    <%- include('partials/header') %>
        <main>
            <div class="carrinho">
                <img class="carrinho-img" src="../img/background_games.png" alt="fundo">
                <div class="carrinho-text">
                    <h4>Carrinho</h4>
                    <ul class="nav-produtos">
                        <li class="prod">
                        <a class="prod-options">Produto</a>
                        </li>
                        <li class="prod1">
                        <a class="prod-options">Preço</a>
                        </li>
                        <li class="prod2">
                        <a class="prod-options">QTD</a>
                        </li>
                        <li class="prod3">
                        <a class="prod-options">Total</a>
                        </li>
                    </ul>
                    <ul class="nav-produtos">
                        <li class="prod0">
                        <img class="prod-img"src="../img/RR_games.png" alt="Red Dead Redemption II">    
                        <a class="prod-options">Read Dead Redemption II</a>
                        </li>
                        <li class="prod1">
                        <a class="prod-options">R$189,99</a>
                        </li>
                        <li class="prod2">
                        <a class="prod-options">01</a>
                        </li>
                        <li class="prod3">
                        <a class="prod-options">R$189,99</a>
                        </li>
                    </ul>
                </div>
            </div>
    
            
                    
    
                
                  
        </main>
        <%- include('partials/footer') %>

</body>