<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/carrinho.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>KickAss</title>
</head>

<body>
    <%- include('partials/header') %>
        <main>
            <div class="carrinho">
                <img class="carrinho-img" src="../img/background_games.png" alt="fundo">
                <div class="carrinho-text">
                    <h4>Carrinho</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>PRODUTO</th>
                                <th>PREÇO</th>
                                <th>QTD</th>
                                <th>EXCLUIR</th>
                                <th>TOTAL</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>prod</th>
                                <th>p</th>
                                <th>1245</th>
                                
                            </tr>
                            <tr>
                                <th>fiulgo</th>
                                <th>23rfgg</th>
                                <th>32525</th>
                                <th>dfdasgfh</th>
                            </tr>
                         
                    </table>
                    

                </div>
            </div>






        </main>
        <%- include('partials/footer') %>

</body>