<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="../css/contato.css">
    <link rel="stylesheet" href="../css/style.css">;
    <title>Fale Conosco</title>
    <style>
        @font-face {
            font-family: fontGame;
            src: url(../font/prstartk.ttf);
        }
    </style>
</head>

<body>
    <%- include('partials/header') %>
        <main>
            
            
            <h1 >Fale conosco</h1>
            <div class="main-container">
                <div class="contato-forms">
                    <form action="">
                        <label for="name">Seu nome</label><br>
                        <input type="text" id="name" name="name" placeholder="Digite aqui seu nome">
                        <br>
                        <br>
                        <label for="email">Email</label><br>
                        <input type="email" id="email" name="email" placeholder="Digite seu melhor email">
                        <br>
                        <br>
                        <label for="tel">Telefone</label><br>
                        <input type="tel" id="tel" name="tel" placeholder="Digite seu telefone">
                        <br>
                        <br>
                        <label for="">Como conheceu a gente?</label>
                        <br>
                        <input type="radio" id="instagram-radio" name="chose"><label
                            for="instagram-radio">Instagram</label>
                        <br>
                        <input type="radio" id="facebook-radio" name="chose"><label
                            for="facebook-radio">Facebook</label>
                        <br>
                        <input type="radio" id="google-radio" name="chose"><label for="google-radio">Pesquisa
                            Google</label>
                        <br>
                        <input type="radio" id="outros-radio" name="chose"><label for="outros-radio">Outros</label>
                        <br>
                        <textarea name="text" id="text" cols="30" rows="1"
                            placeholder="Digite aqui se selecionado outros"></textarea>
                        <br>
                        <br>
                        <label>Selecione o motivo do seu contato</label>
                        <br>
                        <select name="motivo" id="motivo">
                            <option value="devol">Devolução</option>
                            <option value="crit">Crítica</option>
                            <option value="elog">Elogio</option>
                            <option value="duv">Dúvida</option>
                            <option value="pedi">Acompanhamento de pedido</option>
                            <option value="outro">Outros</option>
                        </select>
                        <br>
                        <br>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Digite aqui"></textarea>
                        <br>
                        <button type="submit">Enviar</button>
                        <br>
                    </form>
                    <br>
                </div>
                <div class="contato-image">
                    <img src="img/png 1.png" alt="">
                    <p>Envie sua mensagem, retornaremos o mais breve possível!!</p>
                    <br>
                    <img class="mario-img" src="../img/mario3.gif" alt="">
                    <img class="sonic-img" src="../img/sonic.gif" alt="">

                </div>
            </div>

        </main>

      <%- include('partials/footer') %>
  



</body>

</html>