<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/games.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>KickAss</title>
</head>

<body>
    <%- include('partials/header') %>
        <main>
            <div class="banner">
                <img class="banner-picture" src="../img/menu_fifa23.png" alt="Logo fifa 23">
            </div>
            <div class="games">
                <img class="games-background-img" src="../img/background_games.png">
                <div class="promo-games">
                    <h4>Promoções do mês</h4>
                    <ul class="game-list">
                        <li class="game one">
                            <img class="game-img" src="../img/RR_games.png" alt="Red Dead Redemption 2">
                            <a class="game-options" href="">Red Dead Redemption 2</a>
                            <a class="game-options2" href="">De R$189,00 Por R$89,00</a>
                            <a class="game-options3" href="">Comprar</a>
                        </li>
                        <li class="game two">
                            <img class="game-img" src="../img/sekiro_games.png" alt="Sekiro">
                            <a class="game-options" href="">Sekiro</a>
                            <a class="game-options2" href="">De R$189,00 Por R$89,00</a>
                            <a class="game-options3" href="">Comprar</a>
                        </li>
                        <li class="game three">
                            <img class="game-img" src="../img/fifa_games.png" alt="Fifa">
                            <a class="game-options" href="">Fifa</a>
                            <a class="game-options2" href="">De R$189,00 Por R$89,00</a>
                            <a class="game-options3" href="">Comprar</a>
                        </li>
                    </ul>
                    <ul class="game-list2">
                        <li class="game four">
                            <img class="game-img" src="../img/horizon_games.png" alt="Horizon">
                            <a class="game-options" href="">Horizon</a>
                            <a class="game-options2" href="">De R$189,00 Por R$89,00</a>
                            <a class="game-options3" href="">Comprar</a>
                        </li>
                        <li class="game five">
                            <img class="game-img" src="../img/spider_games.png" alt="Spider Man">
                            <a class="game-options" href="">Spider Man</a>
                            <a class="game-options2" href="">De R$189,00 Por R$89,00</a>
                            <a class="game-options3" href="">Comprar</a>
                        </li>
                        <li class="game six">
                            <img class="game-img" src="../img/mariobross_games.png" alt="Mario Bros">
                            <a class="game-options" href="">Mario Bros</a>
                            <a class="game-options2" href="">De R$189,00 Por R$89,00</a>
                            <a class="game-options3" href="">Comprar</a>
                        </li>
                    </ul>
                    <ul class="game-list3">
                        <li class="game seven">
                            <img class="game-img" src="../img/god_of_war_games.png" alt="God of War">
                            <a class="game-options" href="">God of War</a>
                            <a class="game-options2" href="">De R$189,00 Por R$89,00</a>
                            <a class="game-options3" href="">Comprar</a>
                        </li>
                        <li class="game eight">
                            <img class="game-img" src="../img/sonic_games.png" alt="Sonic">
                            <a class="game-options" href="">Sonic</a>
                            <a class="game-options2" href="">De R$189,00 Por R$89,00</a>
                            <a class="game-options3" href="">Comprar</a>
                        </li>
                        <li class="game nine">
                            <img class="game-img" src="../img/dragon_balls_games.png" alt="Dragon Ball">
                            <a class="game-options" href="">Dragon Ball</a>
                            <a class="game-options2" href="">De R$189,00 Por R$89,00</a>
                            <a class="game-options3" href="">Comprar</a>
                        </li>
                    </ul>
                </div>
            </div>

        </main>
        <%- include('partials/footer') %>
</body>

</html>