<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>KickAss</title>

</head>

<body>
    <%- include('partials/header') %>
        <main>

            <div class="slideshow-banner">
                <div class="mySlides fade">
                    <img class="banner-picture" src="../img/banner_fifa.png" alt="Logo_fifa 23">
                </div>
                <div class="mySlides fade">
                    <img class="banner-picture" src="../img/banner_godofwar.png" alt="logo banner_god of war">
                </div>
                <div class="mySlides fade">
                    <img class="banner-picture" src="../img/banner_spiderman.png" alt="logo banner_spiderman">
                </div>

            </div>
            <script src="../javascript/slideshow.js"></script>
            <div class="promo-bar">
                <h2>Promoções do mês</h2>
                <ul class="promo-list">
                    <li class="promo one">
                        <img class="promo-img" src="../img/promo_spider.png" alt="spider man">
                        <a class="promo-options" href="">De R$189,00</a>
                        <a class="promo-options2" href="">Por R$89,00</a>
                    </li>
                    <li class="promo two">
                        <img class="promo-img" src="../img/promo_godofwar.png" alt="God of war">
                        <a class="promo-options" href="">De R$189,00</a>
                        <a class="promo-options2" href="">Por R$89,00</a>
                    </li>
                    <li class="promo three">
                        <img class="promo-img" src="../img/promo_horizon.png" alt="Horizon">
                        <a class="promo-options" href="">De R$189,00</a>
                        <a class="promo-options2" href="">Por R$89,00</a>
                    </li>
                    <li class="promo four">
                        <img class="promo-img" src="../img/promo_sekiro.png" alt="Sekiro">
                        <a class="promo-options" href="">De R$189,00</a>
                        <a class="promo-options2" href="">Por R$89,00</a>
                    </li>
                    <li class="promo five">
                        <img class="promo-img" src="../img/promo_rdr2.png" alt="Red Dead Redemption 2">
                        <a class="promo-options" href="">De R$189,00</a>
                        <a class="promo-options2" href="">Por R$89,00</a>
                    </li>
                </ul>
            </div>

            <div class="destaque">
                <h2>Destaque do mês</h2>
                <div>
                    <img class="destaque-img" src="../img/destaque_spider.png" alt="Spider Man">
                    <div class="promo-text">
                        <p class="promo-paragraph" href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                            Eius enim repellendus animi suscipit sint officiis beatae voluptates quis temporibus
                            tempore, <br>
                            cumque nisi numquam, autem deserunt iusto, recusandae dignissimos quaerat assumenda.<br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                            Eius enim repellendus animi suscipit sint officiis beatae voluptates quis temporibus
                            tempore, <br>
                            cumque nisi numquam, autem deserunt iusto, recusandae dignissimos quaerat assumenda<br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                            Eius enim repellendus animi suscipit sint officiis beatae voluptates quis temporibus
                            tempore, <br>
                            cumque nisi numquam, autem deserunt iusto, recusandae dignissimos quaerat assumenda</p>
                        </p>
                    </div>
                </div>
            </div>

            <div class="acessories-bar">
                <h3>Acessórios</h3>
                <ul class="acessorie-list">
                    <li class="acessorie one">
                        <img class="acessorie-img" src="../img/controle_black.png" alt="controle black">
                        <a class="acessorie-options" href="">De R$289,00</a>
                        <a class="acessorie-options2" href="">Por R$189,00</a>
                    </li>
                    <li class="acessorie two">
                        <img class="acessorie-img" src="../img/controle_blue.png" alt="controle blue">
                        <a class="acessorie-options" href="">De R$289,00</a>
                        <a class="acessorie-options2" href="">Por R$189,00</a>
                    </li>
                    <li class="acessorie three">
                        <img class="acessorie-img" src="../img/controle_cinza.png" alt="controle gray">
                        <a class="acessorie-options" href="">De R$289,00</a>
                        <a class="acessorie-options2" href="">Por R$189,00</a>
                    </li>
                    <li class="acessorie four">
                        <img class="acessorie-img" src="../img/controle_red.png" alt="controle red">
                        <a class="acessorie-options" href="">De R$289,00</a>
                        <a class="acessorie-options2" href="">Por R$189,00</a>
                    </li>
                    <li class="acessorie five">
                        <img class="acessorie-img" src="../img/controle_blackbig.png" alt="controle black big">
                        <a class="acessorie-options" href="">De R$289,00</a>
                        <a class="acessorie-options2" href="">Por R$189,00</a>
                    </li>
                </ul>
            </div>

        </main>
        <%- include('partials/footer') %>
</body>

</html>