<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sobrenos.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>KickAss</title>
</head>

<body>
    <%- include('partials/header') %>
        <main>
            <div class="banner">
                <img class="banner-picture" src="../img/menu_fifa23.png" alt="Logo fifa 23">
            </div>
            <div class="sobrenos">
                <img class="sobrenos-img" src="../img/sobrenos_background.png" alt="sobre nos background">
                <div class="sobrenos-text">
                    <h4>Sobre Nós</h4>
                    <p>A loja KickAss é o lugar perfeito para os amantes de jogos eletrônicos. Com uma ampla variedade de títulos para várias plataformas, incluindo consoles de mesa e portáteis, além de jogos para computadores e dispositivos móveis, há algo para todos os gostos. Oferecemos uma grande seleção de acessórios, como controles, fones de ouvido, cabos e outros itens para melhorar a sua experiência de jogo. Além disso, contamos com funcionários treinados e experientes, que podem ajudar os clientes a escolher os jogos e acessórios certos para eles. Se você é um jogador hardcore ou um jogador casual, a KickAss é o lugar perfeito para encontrar tudo o que você precisa para desfrutar do seu hobby favorito.
                    </p>
                </div>
            </div>


        </main>
        <%- include('partials/footer') %>
</body>

</html>