<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sobrenos.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>KickAss</title>
</head>

<body>
    <%- include('partials/header') %>
        <main>
            <div class="banner">
                <img class="banner-picture" src="../img/menu_fifa23.png" alt="Logo fifa 23">
            </div>
            <div class="sobrenos">
                <img class="sobrenos-img" src="../img/sobrenos_background.png" alt="sobre nos background">
                <div class="sobrenos-text">
                    <h4>Sobre Nós</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
                        Duis maximus mattis bibendum. Vestibulum eu elit dolor. Nulla facilisis nisi augue, <br>
                        sit amet iaculis arcu pulvinar ac. Sed id sapien et dui rhoncus dictum. <br>
                        Phasellus cursus est vel auctor ornare. Maecenas faucibus tristique finibus. <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus mattis bibendum. <br>
                        Vestibulum eu elit dolor. Nulla facilisis nisi augue, sit amet iaculis arcu pulvinar ac. <br>
                        Sed id sapien et dui rhoncus dictum. Phasellus cursus est vel auctor ornare. <br>
                        Maecenas faucibus tristique finibus. <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus mattis bibendum. <br>
                        Vestibulum eu elit dolor. Nulla facilisis nisi augue, sit amet iaculis arcu pulvinar ac. <br>
                        Sed id sapien et dui rhoncus dictum. Phasellus cursus est vel auctor ornare. <br>
                        Maecenas faucibus tristique finibus.
                    </p>
                </div>
            </div>


        </main>
        <%- include('partials/footer') %>
</body>

</html>