<footer id="footer-container">
    <nav class="nav-footer">
      

       
        <ul class="footer-list">
            <li>
                <h1>Contato</h1>
            </li>
            <li class="foot message">
                <a class="foot-options" href="">Deixe sua Mensagem</a>
            </li>
            <li class="foot mail">
                <a class="foot-options" href="mailto:contato@kickass.com">contato@kickass.com</a>
            </li>
            <li class="foot telefone">
                <a class="foot-options">(11) 4554-5445</a>
            </li>
        </ul>
       <ul class="footer-list">
            <li>
                <h1>Acompanhe-nos</h1>
            </li>
            <li class="foot instagram">
                <a class="foot-options" href="">Instagram</a>
            </li>
            <li class="foot facebook">
                <a class="foot-options" href="">Github</a>
            </li>
            <li class="foot twitter">
                <a class="foot-options" href="">Linkedin</a>
            </li>
            
        </ul>
     
   
</nav>

    <div class="footer-img">
        <a href="/"><img id="logo-footer" src="../img/header_logo.png" alt="logo"></a>
    </div>
</footer>