<header id="menu">
    <div class="container-header">
        <img id="logo-img" src="../img/header_logo.png" alt="logo esquerda">
        <form action="/search" method="GET">
            <input type="text" id="pesquisa" name="keywords" placeholder="Pesquise aqui seu jogo">
        </form>
        <div class="icons">
            <a href="/Login"> <img id="user-icon" src="../img/header_user.png"></a>
            <a href="/Cart"><img id="cart-icon" href="" src="../img/header_carrinho.png"></a>

        </div>
    </div>

    <nav class="nav-bar">
        <ul class="nav-list">
            <li class="nav home">
                <a class="nav-options" href="/">Home</a>
            </li>
            <li class="nav sobrenos">
                <a class="nav-options" href="/About">Sobre nós</a>
            </li>
            <li class="nav games">
                <a class="nav-options" href="/Games">Games</a>
            </li>
            <li class="nav Acessórios">
                <a class="nav-options" href="/Accessories">Acessórios</a>
            </li>
            <li class="nav contato">
                <a class="nav-options" href="/Contact">Contato</a>
            </li>
        </ul>
    </nav>
</header>