<header>
    <nav class="navbar">
        
        <div class="navbar-brand">
            <img src="../img/png 1.png" alt="brand">
            <span class="navbar-burguer" onclick="ativaNavbar()">
                &#8801
            </span>
        </div>
        <div class="navbar-menu">
           
           
            
            <a href="/products" class="navbar-link">Cadastrar produto</a>
            <a href="/list" class="navbar-link">Lista de produtos</a>
           
            
        </div>

    </nav>
</header>
       
